
.ul{
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  
}

.navbar{
  background-color: grey;
  color: white;
  
  
}

.img{
  width: -webkit-fill-available;
  
}



.input{
  
  width: 400px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;

}

.input_style{
display:flex;
flex-direction: column;
justify-content: space-around;
}

.btn{
  background-color: black;
  color:white;
}

.home{
  position: relative;
}

.head{
  position: absolute;
  bottom: 381px;
  left: 303px;
  color: white;
  font-size: -webkit-xxx-large;

}


.project{
  margin-top: 10px;
  width: 300px;
  height: 350px;
  box-shadow: 5px 5px 5px #bdbdbd;
}

.size{
  width:300px;
  height: 300px;
}
.service{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}